body {
  background: #834200;
}

.SiteHeading {
  padding: .5em;
  font-size: 3em;
  color:white;
  text-shadow: 2px 2px #000000;
}

/* .SearchBar encompasses the whole search bar: dropdown menu, input field, and search button*/
.SearchBar {
  margin: auto;
  text-align: center;
  width: 100%;
}

.DropDownMenu {
  width:10%;
  position:relative;
  display:inline-block;
}

.dropdownbtn {
  background: white;
  width:100%;
  border: 3px solid black;
  padding-top: 1em;
  padding-bottom: 1em;
}

.dropdownbtn:hover, .searchBTN:hover {
  cursor:pointer;
}

.dropdowncontent > a{
  display:block;
  background:white;
  width:100%;
}

.dropdowncontent {
  position:absolute;
  visibility:hidden;
  width:100%;
}

input[type=text]{
  padding: 1em;
  font-size: 1em;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-right: none;
  margin:auto;
  width: 60%;
}

.searchBTN {
  padding: 1em;
  font-size:1em;
  border: 3px solid black;
  width: 10%;
}